:root, [data-bs-theme=light] {
  --bs-primary: #b100ff;
  --bs-primary-rgb: 177,0,255;
  --bs-primary-text-emphasis: #470066;
  --bs-primary-bg-subtle: #EFCCFF;
  --bs-primary-border-subtle: #E099FF;
  --bs-secondary: #c299d5;
  --bs-secondary-rgb: 194,153,213;
  --bs-secondary-text-emphasis: #4E3D55;
  --bs-secondary-bg-subtle: #F3EBF7;
  --bs-secondary-border-subtle: #E7D6EE;
  --bs-success: #00f986;
  --bs-success-rgb: 0,249,134;
  --bs-success-text-emphasis: #006436;
  --bs-success-bg-subtle: #CCFEE7;
  --bs-success-border-subtle: #99FDCF;
  --bs-danger: #fb0018;
  --bs-danger-rgb: 251,0,24;
  --bs-danger-text-emphasis: #64000A;
  --bs-danger-bg-subtle: #FECCD1;
  --bs-danger-border-subtle: #FD99A3;
  --bs-light: #9c00e0;
  --bs-light-rgb: 156,0,224;
  --bs-light-text-emphasis: #3E005A;
  --bs-light-bg-subtle: #EBCCF9;
  --bs-light-border-subtle: #D799F3;
  --bs-dark: #0f001c;
  --bs-dark-rgb: 15,0,28;
  --bs-dark-text-emphasis: #06000B;
  --bs-dark-bg-subtle: #CFCCD2;
  --bs-dark-border-subtle: #9F99A4;
  --bs-link-color: #9e00ff;
  --bs-link-color-rgb: 158,0,255;
  --bs-link-hover-color: #b094c6;
  --bs-link-hover-color-rgb: 176,148,198;
  --bs-link-decoration: blink;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b100ff;
  --bs-btn-border-color: #b100ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9600D9;
  --bs-btn-hover-border-color: #8E00CC;
  --bs-btn-focus-shadow-rgb: 243,217,255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8E00CC;
  --bs-btn-active-border-color: #8500BF;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b100ff;
  --bs-btn-disabled-border-color: #b100ff;
}

.btn-outline-primary {
  --bs-btn-color: #b100ff;
  --bs-btn-border-color: #b100ff;
  --bs-btn-focus-shadow-rgb: 177,0,255;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b100ff;
  --bs-btn-hover-border-color: #b100ff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b100ff;
  --bs-btn-active-border-color: #b100ff;
  --bs-btn-disabled-color: #b100ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b100ff;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #c299d5;
  --bs-btn-border-color: #c299d5;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #CBA8DB;
  --bs-btn-hover-border-color: #C8A3D9;
  --bs-btn-focus-shadow-rgb: 29,23,32;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CEADDD;
  --bs-btn-active-border-color: #C8A3D9;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #c299d5;
  --bs-btn-disabled-border-color: #c299d5;
}

.btn-outline-secondary {
  --bs-btn-color: #c299d5;
  --bs-btn-border-color: #c299d5;
  --bs-btn-focus-shadow-rgb: 194,153,213;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #c299d5;
  --bs-btn-hover-border-color: #c299d5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #c299d5;
  --bs-btn-active-border-color: #c299d5;
  --bs-btn-disabled-color: #c299d5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c299d5;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #00f986;
  --bs-btn-border-color: #00f986;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #26FA98;
  --bs-btn-hover-border-color: #19FA92;
  --bs-btn-focus-shadow-rgb: 0,37,20;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #33FA9E;
  --bs-btn-active-border-color: #19FA92;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #00f986;
  --bs-btn-disabled-border-color: #00f986;
}

.btn-outline-success {
  --bs-btn-color: #00f986;
  --bs-btn-border-color: #00f986;
  --bs-btn-focus-shadow-rgb: 0,249,134;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #00f986;
  --bs-btn-hover-border-color: #00f986;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #00f986;
  --bs-btn-active-border-color: #00f986;
  --bs-btn-disabled-color: #00f986;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00f986;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #fb0018;
  --bs-btn-border-color: #fb0018;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FC263B;
  --bs-btn-hover-border-color: #FB192F;
  --bs-btn-focus-shadow-rgb: 38,0,4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FC3346;
  --bs-btn-active-border-color: #FB192F;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #fb0018;
  --bs-btn-disabled-border-color: #fb0018;
}

.btn-outline-danger {
  --bs-btn-color: #fb0018;
  --bs-btn-border-color: #fb0018;
  --bs-btn-focus-shadow-rgb: 251,0,24;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fb0018;
  --bs-btn-hover-border-color: #fb0018;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #fb0018;
  --bs-btn-active-border-color: #fb0018;
  --bs-btn-disabled-color: #fb0018;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fb0018;
}

.btn-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9c00e0;
  --bs-btn-border-color: #9c00e0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8500BE;
  --bs-btn-hover-border-color: #7D00B3;
  --bs-btn-focus-shadow-rgb: 240,217,250;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7D00B3;
  --bs-btn-active-border-color: #7500A8;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #9c00e0;
  --bs-btn-disabled-border-color: #9c00e0;
}

.btn-outline-light {
  --bs-btn-color: #9c00e0;
  --bs-btn-border-color: #9c00e0;
  --bs-btn-focus-shadow-rgb: 156,0,224;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9c00e0;
  --bs-btn-hover-border-color: #9c00e0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #9c00e0;
  --bs-btn-active-border-color: #9c00e0;
  --bs-btn-disabled-color: #9c00e0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #9c00e0;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0f001c;
  --bs-btn-border-color: #0f001c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0D0018;
  --bs-btn-hover-border-color: #0C0016;
  --bs-btn-focus-shadow-rgb: 219,217,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0C0016;
  --bs-btn-active-border-color: #0B0015;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0f001c;
  --bs-btn-disabled-border-color: #0f001c;
}

.btn-outline-dark {
  --bs-btn-color: #0f001c;
  --bs-btn-border-color: #0f001c;
  --bs-btn-focus-shadow-rgb: 15,0,28;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0f001c;
  --bs-btn-hover-border-color: #0f001c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0f001c;
  --bs-btn-active-border-color: #0f001c;
  --bs-btn-disabled-color: #0f001c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0f001c;
}

[data-bs-theme=dark] {
  --bs-primary: #b100ff;
  --bs-primary-rgb: 177,0,255;
  --bs-primary-text-emphasis: #D066FF;
  --bs-primary-bg-subtle: #230033;
  --bs-primary-border-subtle: #6A0099;
  --bs-secondary: #c299d5;
  --bs-secondary-rgb: 194,153,213;
  --bs-secondary-text-emphasis: #DAC2E6;
  --bs-secondary-bg-subtle: #271F2B;
  --bs-secondary-border-subtle: #745C80;
  --bs-success: #00f986;
  --bs-success-rgb: 0,249,134;
  --bs-success-text-emphasis: #66FBB6;
  --bs-success-bg-subtle: #00321B;
  --bs-success-border-subtle: #009550;
  --bs-danger: #fb0018;
  --bs-danger-rgb: 251,0,24;
  --bs-danger-text-emphasis: #FD6674;
  --bs-danger-bg-subtle: #320005;
  --bs-danger-border-subtle: #97000E;
  --bs-light: #9c00e0;
  --bs-light-rgb: 156,0,224;
  --bs-light-text-emphasis: #C466EC;
  --bs-light-bg-subtle: #1F002D;
  --bs-light-border-subtle: #5E0086;
  --bs-dark: #0f001c;
  --bs-dark-rgb: 15,0,28;
  --bs-dark-text-emphasis: #6F6677;
  --bs-dark-bg-subtle: #030006;
  --bs-dark-border-subtle: #090011;
  --bs-body-color: #b100ff;
  --bs-body-color-rgb: 177,0,255;
  --bs-secondary-color: #c299d5;
  --bs-secondary-color-rgb: 194,153,213;
  --bs-tertiary-color: #65526d;
  --bs-tertiary-color-rgb: 101,82,109;
  --bs-body-bg: #0f001c;
  --bs-body-bg-rgb: 15,0,28;
  --bs-secondary-bg: #410078;
  --bs-secondary-bg-rgb: 65,0,120;
  --bs-tertiary-bg: #4e3e5c;
  --bs-tertiary-bg-rgb: 78,62,92;
  --bs-link-color: #9e00ff;
  --bs-link-color-rgb: 158,0,255;
  --bs-link-hover-color: #b094c6;
  --bs-link-hover-color-rgb: 176,148,198;
  --bs-link-decoration: blink;
  --bs-border-color: #ff0000;
  --bs-border-radius: 10.375rem;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b100ff;
  --bs-btn-border-color: #b100ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9600D9;
  --bs-btn-hover-border-color: #8E00CC;
  --bs-btn-focus-shadow-rgb: 243,217,255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8E00CC;
  --bs-btn-active-border-color: #8500BF;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b100ff;
  --bs-btn-disabled-border-color: #b100ff;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #b100ff;
  --bs-btn-border-color: #b100ff;
  --bs-btn-focus-shadow-rgb: 177,0,255;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b100ff;
  --bs-btn-hover-border-color: #b100ff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b100ff;
  --bs-btn-active-border-color: #b100ff;
  --bs-btn-disabled-color: #b100ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b100ff;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #c299d5;
  --bs-btn-border-color: #c299d5;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #CBA8DB;
  --bs-btn-hover-border-color: #C8A3D9;
  --bs-btn-focus-shadow-rgb: 29,23,32;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CEADDD;
  --bs-btn-active-border-color: #C8A3D9;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #c299d5;
  --bs-btn-disabled-border-color: #c299d5;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #c299d5;
  --bs-btn-border-color: #c299d5;
  --bs-btn-focus-shadow-rgb: 194,153,213;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #c299d5;
  --bs-btn-hover-border-color: #c299d5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #c299d5;
  --bs-btn-active-border-color: #c299d5;
  --bs-btn-disabled-color: #c299d5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c299d5;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #00f986;
  --bs-btn-border-color: #00f986;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #26FA98;
  --bs-btn-hover-border-color: #19FA92;
  --bs-btn-focus-shadow-rgb: 0,37,20;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #33FA9E;
  --bs-btn-active-border-color: #19FA92;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #00f986;
  --bs-btn-disabled-border-color: #00f986;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #00f986;
  --bs-btn-border-color: #00f986;
  --bs-btn-focus-shadow-rgb: 0,249,134;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #00f986;
  --bs-btn-hover-border-color: #00f986;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #00f986;
  --bs-btn-active-border-color: #00f986;
  --bs-btn-disabled-color: #00f986;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00f986;
}

[data-bs-theme=dark] .btn-danger, .btn-danger[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #fb0018;
  --bs-btn-border-color: #fb0018;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FC263B;
  --bs-btn-hover-border-color: #FB192F;
  --bs-btn-focus-shadow-rgb: 38,0,4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FC3346;
  --bs-btn-active-border-color: #FB192F;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #fb0018;
  --bs-btn-disabled-border-color: #fb0018;
}

[data-bs-theme=dark] .btn-outline-danger, .btn-outline-danger[data-bs-theme=dark] {
  --bs-btn-color: #fb0018;
  --bs-btn-border-color: #fb0018;
  --bs-btn-focus-shadow-rgb: 251,0,24;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fb0018;
  --bs-btn-hover-border-color: #fb0018;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #fb0018;
  --bs-btn-active-border-color: #fb0018;
  --bs-btn-disabled-color: #fb0018;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fb0018;
}

[data-bs-theme=dark] .btn-light, .btn-light[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9c00e0;
  --bs-btn-border-color: #9c00e0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8500BE;
  --bs-btn-hover-border-color: #7D00B3;
  --bs-btn-focus-shadow-rgb: 240,217,250;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7D00B3;
  --bs-btn-active-border-color: #7500A8;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #9c00e0;
  --bs-btn-disabled-border-color: #9c00e0;
}

[data-bs-theme=dark] .btn-outline-light, .btn-outline-light[data-bs-theme=dark] {
  --bs-btn-color: #9c00e0;
  --bs-btn-border-color: #9c00e0;
  --bs-btn-focus-shadow-rgb: 156,0,224;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9c00e0;
  --bs-btn-hover-border-color: #9c00e0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #9c00e0;
  --bs-btn-active-border-color: #9c00e0;
  --bs-btn-disabled-color: #9c00e0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #9c00e0;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0f001c;
  --bs-btn-border-color: #0f001c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0D0018;
  --bs-btn-hover-border-color: #0C0016;
  --bs-btn-focus-shadow-rgb: 219,217,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0C0016;
  --bs-btn-active-border-color: #0B0015;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0f001c;
  --bs-btn-disabled-border-color: #0f001c;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #0f001c;
  --bs-btn-border-color: #0f001c;
  --bs-btn-focus-shadow-rgb: 15,0,28;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0f001c;
  --bs-btn-hover-border-color: #0f001c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0f001c;
  --bs-btn-active-border-color: #0f001c;
  --bs-btn-disabled-color: #0f001c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0f001c;
}

